<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Job Matcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    
</head>

<body>
    <div style="margin: 50px;">
    <h1>Resume Job Matcher</h1>                 
    </div>
    <!--Form-->
    <div class="container">
    <form action="/submit-form" method="post" id ="contactForm" class="form-container">

        <h2>Upload Resume Here</h2>

        <div class="resumeUpload">
        <input type="file" id="resumeUpload" name="resume" accept=".pdf" onclick="this.value=null;" />
        <label for="resumeUpload">Upload Resume</label>
        </div>

        <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required />
        </div>

        <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required />
        </div>

        <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
        </div>

        <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required />
        </div>

        <div class="form-group">
        <label for="total_experience">Total Experience:</label>
        <input type="text" id="total_experience" name="total_experience" required />
        <br />
        </div>

        <div class="form-group">
        <label for="degrees">Degrees:</label>
        <input type="text" id="degrees" name="degrees" required />
        </div>

        <div class="form-group">
        <label for="institutions">Institutions:</label>
        <input type="text" id="institutions" name="institutions" required />
        </div>

        <div class="form-group">
        <label for="majors">Majors:</label>
        <input type="text" id="majors" name="majors" required />
        </div>

        <div class="form-group">
        <label for="skills">Skills:</label>
        <textarea id="skills" name="skills" rows="2" cols="30"></textarea>
        </div>

        <div class="form-actions">
        <button onclick="toggleEdit('skillsEdit')" id="skillsEdit">Edit</button>

        <button onclick="updateResumeInfo()">Update Info</button>
        </div>

    </form> 

    <!-- JD -->
    <div class="JDContainer">

        <h2>Enter Job Description </h2> 

        <div class="jdGroup">
        <input type="text" placeholder="Enter JD Title..." id="jdTitle" />
        </div>

        <div class="jdGroup">
        <textarea id="jdDesc"  placeholder="Enter JD Description..." ></textarea>
        </div>

        <div class="form-actions">
        <button onclick="uploadJDManual()">Submit Job Description </button>
        </div>

        <div> <h2>OR</h2> </div>

        <div class="resumeUpload">
        <input type="file" id="jdFileInput" name="resume" accept=".pdf" onclick="this.value=null;" />
        <label for="resumeUpload">Upload JD File </label>
        </div>

    </div>

    <!-- Spinner -->
    <div id="spinner-overlay" style="display: none;">
        <div class="spinner-container">
            <div class="spinner"></div>
            <p>Parsing resume... Please wait.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>

