<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <title>Job Matcher</title>

</head>
<body>
    <h1 id="title">Job Matcher</h1>

    <div class="sections-container">

    <div class="left-section">
    <textarea id="job-description" placeholder="Enter JD here"></textarea>
    <!--Upload JD Button-->
    <button id="enter-button">Enter</button>
    </div>

    <div class="right-section">
    <textarea id="job-description" placeholder="Results"></textarea>
    </div>

    </div>

    <div class="lower-container">
    <div class="lower-section">

    <!---Upload Resume Button-->
   <!-- <label for="resumeInput" class="custom-file-button" >Select File</label>-->
    <input type="file" id="resumeInput" name="resume" accept=".pdf,.doc,.docx"  onclick="this.value=null;" />
    
    </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>